@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --desktop-screen: 1280px;
  --tablet-screen: 834px;
  --mobile-screen: 375px;

  /* background & text color */
  --black: #2b2b2b;
  --black-secondary: #3b3b3b;
  --gray: #858584;
  --white: #ffffff;

  --gradient1: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  --gradient2: linear-gradient(128.15deg, #a259ff 49.75%, #377df7 136.56%);

  --call-to-action: #a259ff;
  /* font weight */
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-weight-600: 600;
  /* line height */
  --h1-line-height: 4.6063rem;
  --h2-line-height: 3.506rem;
  --h3-line-height: 2.85rem;
  --h5-line-height: 2.2rem;
  --base-line-height: 1.4rem;

  /* font size */
  --h1: 4.188rem;
  --h2: 3.188rem;
  --h3: 2.375rem;
  --h4: 1.75rem;
  --h5: 1.375rem;
  --base: 1rem;
  --caption: 0.75rem;
}

body {
  max-width: var(--desktop-screen);
  min-height: 100vh;

  background-color: var(--black);
  color: var(--white);

  font-size: var(--h5);
  font-family: 'Work Sans', sans-serif;
  font-weight: var(--font-weight-400);
  line-height: var(--h5-line-height);

  margin: auto;
}

@layer components {
  .btn-default-text {
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
  }
  .btn-default-style {
    width: 100%;
    color: white;
    border-radius: 50px;
  }
  .btn-primary {
    @apply text-h5 h-[72px] btn-default-style bg-call-to-action-color;
  }
  .btn-secondary {
    @apply btn-default-text h-[60px] btn-default-style bg-call-to-action-color;
  }
  .btn-tertiary {
    @apply btn-default-text h-[46px] btn-default-style bg-call-to-action-color;
  }
  .btn-outlined-primary {
    @apply text-h5 h-[72px] btn-default-style bg-transparent border-call-to-action-color border-2;
  }
  .btn-outlined-secondary {
    @apply btn-default-text h-[60px] btn-default-style bg-transparent border-call-to-action-color border-2;
  }
  .btn-outlined-tertiary {
    @apply btn-default-text h-[46px] btn-default-style bg-transparent border-call-to-action-color border-2;
  }
  .btn-outlined-headline {
    @apply btn-default-text h-[60px] btn-default-style bg-transparent border-call-to-action-color border-2;
  }
}
